@use 'colors';
@use 'fonts';
@use 'heightWidth';
@use 'sliderPhotos';

/* grid - slider */
.row1{grid-area: a;}
.row2{grid-area: b;}
.arrows{grid-area: c;}
.text{grid-area: d;}
.slider{
    display: grid;
    grid-template-areas:
    "a a a d"
    "b b c d" ;
    row-gap: 1em;
    column-gap: 1em;
}

/*grid - header*/
.headerLeft{grid-area: a;}
.headerRight{grid-area: b;}
.header{
    display: grid;
    grid-template-areas: 
    "a b";
    column-gap: 19px;
}


/* grid - whole page */
@media(max-width: $defaultWidth) and (max-height: 730px){
    .header{grid-area: e;}
    .footer{grid-area: f;}
    .slider{grid-area: g;}
    .wrapper{
        display: grid;
        grid-template-areas:
        ". . e"
        "g g g"
        "f f f"  ;
    }
}


/* style */
.row1, .row2{
    display:flex;

}

h1{
    color: $titleColor;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.2px;
}

body{
    color: #484A4C;
    font-family: $font;
    font-size: 18px;
    line-height: 26px;
}

img{
    @include sliderPhotos;
}
.arrows{
    text-align: right;
  }
  .arrowLeft, .arrowRight {
    width: 9.98px;
    height: 16px;
    left: 35px;
    top: 22px;
    display: flex;
    margin: 20px;
    padding: 5px;
    clear: both;
  }
  button{
    margin: 6px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    background-color: white;
    box-sizing: border-box;
  }

/*Left arrow change*/
.up:hover {
    color: $titleColor;
    border-color: $titleColor; 
    cursor: pointer;}
  .up .arrowLeftBlue {
    display: none;
  }
  .up:hover .arrowLeftBlue {
    display: inline;
    width: 9.98px;
    height: 16px;
    left: 35px;
    top: 22px;
    display: flex;
    margin: 20px;
    padding: 5px;
    clear: both;
  }
  .up:hover .arrowLeft {
    display: none;
  }
  .up:hover {
  color: $titleColor;
  border-color: $titleColor; }
  .up .arrowLeftBlue {
    display: none;
  }
  .up:hover .arrowLeftBlue {
    display: inline;
    width: 9.98px;
    height: 16px;
    left: 35px;
    top: 22px;
    display: flex;
    margin: 20px;
    padding: 5px;
    clear: both;
  }
  
  /*Right Arrow change*/
  .down:hover {
    color: $titleColor;
    border-color: $titleColor; 
    cursor: pointer;}
  .down .arrowRightBlue {
    display: none;
  }
  .down:hover .arrowRightBlue {
    display: inline;
    width: 9.98px;
    height: 16px;
    left: 35px;
    top: 22px;
    display: flex;
    margin: 20px;
    padding: 5px;
    clear: both;
  }
  .down:hover .arrowRight {
    display: none;
  }
  .down:hover {
  color: $titleColor;
  border-color: $titleColor; }
  .down .arrowRightBlue {
    display: none;
  }
  .down:hover .arrowRightBlue {
    display: inline;
    width: 9.98px;
    height: 16px;
    left: 35px;
    top: 22px;
    display: flex;
    margin: 20px;
    padding: 5px;
    clear: both;
  }

.wrapper{
    margin: auto;
  }

.headerLeft{
    background-color: $defaultColor;
    width: 301px;
    border-color: $defaultColor;
    border-radius: 0 0 5px 5px;
}

.headerRight{
    background-color: $defaultColor;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    width: 621px;
  
}

.header{
    width: $defaultWidth;
    height: $defaultHeight;
    margin: auto;
}

.slider{
    padding: 50px;
    width: 941px;
}

p{
    inline-size: 300.93px;
    overflow-wrap: break-word;
    float: left;
}

.footer{
    background-color: $defaultColor;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    width: $defaultWidth;
    height: $defaultHeight;
    margin: auto;
}

.footer{
     p{
        width: 245px;
        height: 18px;
        left: 400px;
        top: 39px;
        font-family: $fontHelvetica; 
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        display: flex;
        align-items: flex-end;
        margin: 40px;
    }
}

.header {
    p {
        width: 245px;
        height: 18px;
        left: 400px;
        top: 39px;
        font-family: $fontHelvetica; 
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        display: flex;
        align-items: flex-end;
        margin: 40px;
    }
}

@keyframes blink {
    0% {
        opacity:0;
    }
    50% {
        opacity:0.5;
    }
    100% {
        opacity:1;
    }
  } 
  .flash {
    animation: blink normal 1s ease-in-out;
  }